body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* background-color: #0e0e0e; */
  color: #fbc104;
}

.black {
  background-color: #0e0e0e;
}

/* TOP BAR */

.top-bar {
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px 0px 30px;
  background-color: #0e0e0e;
}

.Maddela {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.Prashanth {
  color: #fbc104;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 30px;
}

a {
  color: white;
  text-decoration: none;
}

.btn-Hire-me {
  background-color: #fbc104;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border: 0px;
}

/* HERO SECTION */

.section-1 {
  background-color: #0e0e0e;
  display: flex;
  align-items: center;
  margin: 50px 0px 0px 0px;
  padding: 0px 0px 0px 30px;
  height: 500px;
  background-image: url("images-img/Male\ Character\ Vector\ Illustration.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.hero-content {
  max-width: 600px;
}

.Hello {
  color: #fbc104;
  font-size: 10px;
}

h1 {
  font-family: Times, "Times New Roman", serif;
  font-size: 40px;
  color: white;

  margin-top: -1px;
}

.meaningful {
  color: white;
  font-size: 15px;
  line-height: 30px;
}

.btn-VIEW-MY-WORK {
  margin: 15px 0px 0px 0px;
  background-color: #fbc104;
  padding: 10px 10px 10px 10px;
  /* border-radius: 10px; */
  border: 0px;
  font-weight: 600;
  cursor: pointer;
}

/* SECTION 2 */

.section-2 {
  display: flex;
  align-items: center;
  padding: 50px 0px 0px 30px;
  height: 300px;
  color: black;
  background-color: white;
  color: black;
}

.What-I-Do {
  color: #fbc104;
  font-weight: 600;
  margin-bottom: 10px;
}

h2 {
  font-family: Times, "Times New Roman", serif;
  font-size: 35px;
}

.beautiful {
  font-size: 15px;
  line-height: 25px;
}

/* GRID */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(255, 255, 255);
  padding: 0px 30px 0px 30px;
  gap: 10px;
  height: 300px;
  margin-bottom: 50px;
}

.box {
  border-radius: 10px;
  border: 2px solid #0e0e0e;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  align-items: center;
  flex-direction: column;
  /* padding: 50px 0px 0px 0px; */
  /* background-color: #fbc104; */
  color: rgb(255, 255, 255);
}

.sub-box-1 {
  background-image: url("images-img/Branding.png");
  background-position: center;
  background-size: contain;
  /* background-color: aqua; */
  height: 100px;
  width: 100px;
}

.sub-box-text-1 {
  color: black;
  text-align: center;
  /* background-color: aqua; */
  height: 100px;
}

.sub-box-2 {
  background-image: url("images-img/Print\ Design.png");
  background-position: center;
  background-size: contain;
  /* background-color: aqua; */
  height: 100px;
  width: 100px;
}

.sub-box-text-2 {
  color: black;
  text-align: center;
  /* background-color: aqua; */
  height: 100px;
}

.sub-box-3 {
  background-image: url("images-img/brochure.png");
  background-position: center;
  background-size: contain;
  /* background-color: aqua; */
  height: 100px;
  width: 100px;
}

.sub-box-text-1,
.sub-box-text-2,
.sub-box-text-3 {
  color: black;
  text-align: center;
  /* background-color: aqua; */
  height: 100px;
}

/* CTA */

.Ready-to-Work {
  background-color: #fbc104;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #fbc104;
  color: white;
}

.Ready {
  color: #0e0e0e;
  margin: 0px;
  font-size: 40px;
  font-weight: 600;
}

.collaborate {
  color: #0e0e0e;
  margin-top: 15px;
}

.btn-Get-in-Touch {
  margin: 15px 0px 0px 0px;
  background-color: black;
  color: #ffffff;
  padding: 20px 30px 20px 30px;
  border-radius: 10px;
  border: 0px;
  font-weight: 600;
  cursor: pointer;
}

/* FOOTER */

footer {
  background-color: #0e0e0e;
  line-height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  justify-content: center;
  height: 200px;
}

.Copyright {
  color: white;
  opacity: 0.5;
}
