* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: 0px;
}

body {
  /* color: white; */
  display: flex;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.full-body {
  /* height: 100vh; */
  /* background-color: black; */
  /* outline: 1px solid yellow; */
  width: 95vw;
}

.sticky {
  position: sticky;
  top: 0px;
  background-color: #18191b;
}

header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
  height: 60px;
  /* background-color: black; */
  background-image: url("/images/logo.png");
  background-size: cover;
  /* background-repeat: no-repeat; */
}

nav {
  align-items: center;
  justify-content: space-between;
  margin-left: 300px;
  display: flex;
  gap: calc(50px);
}

.hov {
  text-decoration: none;
  color: #ffffff;
}

.hov:hover {
  color: #ffd000 ;
}

.Hire-Me {
  background-color: #ffd000;
  color: #18191b;
  padding: 10px 20px;
  border-radius: 5px;
}

.Hire-Me:hover{
background-color: #ffffff;
}

h1 {
  border-radius: 10px;
  text-align: center;
  font-size: 100px;
  box-shadow: 0px 0px 10px #ffffff;
}

h1:hover {
  box-shadow: 0px 0px 5px #18191b;
}

h1 {
  /* Set a large gradient background */
  background: linear-gradient(
    to right,
    #ffd000,
    #f8a15f,
    #4d89ff,
    #cfda36,
    #ff7e5f
  );
  background-size: 200% auto; /* Make background wider than the text */

  /* Clip background to text and make text transparent */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;

  /* Apply the animation */
  animation: shift-gradient 5s linear infinite;

  /* Font styling */
  font-size: 4rem;
  font-weight: bold;
}

/* Keyframes to move the background position */
@keyframes shift-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  border-bottom: 2px solid #18191b;
  outline: 50px;
  padding: 0px 10px 0px 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(255, 254, 243); */
  height: 800px;
}

.text-container {
  /* background-color: rgb(245, 121, 121); */
  height: 700px;
  width: 45vw;
}

.Designer {
  /* background-color: brown; */
  font-size: 100px;
  font-weight: 600;
}

.iam {
  font-size: 60px;
}

.iam {
  /* Set a large gradient background */
  background: linear-gradient(
    to right,
    #ffd000,
    #f8a15f,
    #4d89ff,
    #cfda36,
    #ff7e5f
  );
  background-size: 200% auto; /* Make background wider than the text */

  /* Clip background to text and make text transparent */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;

  /* Apply the animation */
  animation: shift-gradient 5s linear infinite;

  /* Font styling */
  font-size: 4rem;
  font-weight: bold;
}

/* Keyframes to move the background position */
@keyframes shift-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.designer-color {
  color: #ffd000;
}

.para1 {
  /* background-color: aquamarine; */
  font-size: 30px;
}

.View-My-Work {
  background-color: #18191b;
  color: white;
  border-radius: 8px;
  padding: 15px 30px 15px 30px;
  box-shadow: 0px 0px 10px;
}

.View-My-Work:hover {
  background-color: #ffd000;
  color: #18191b;
}

.Download-CV {
  background-color: #18191b;
  color: white;
  border-radius: 8px;
  padding: 15px 30px 15px 30px;
  box-shadow: 0px 0px 10px;
}

.Download-CV:hover {
  background-color: #ffd000;
  color: #18191b;
}

.arrow {
  word-spacing: 30px;
}

.image-container {
  background-image: url("/images/img.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  /* background-color: bisque; */
  height: 700px;
  width: 50vw;
}

.container-2 {
  border-bottom: 2px solid #18191b;
  outline: 50px;
  padding: 0px 10px 0px 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* background-color: aqua; */
  /* gap: calc(20px); */
  height: 800px;
}

.text-container-2 {
  /* background-color: rgb(245, 121, 121); */
  height: 700px;
  width: 45vw;
}

.About-Me {
  /* background-color: brown; */
  font-size: 50px;
  font-weight: 600;
}

.image-container-2 {
  background-image: url("/images/boy.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  /* background-color: bisque; */
  height: 700px;
  width: 50vw;
}

.container-3 {
  /* background-color: #ffd000; */
  height: 50px;
}

.What-I-Do {
  text-align: center;
  font-size: 40px;
  font-weight: 800px;
}

.boxes-3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fafafa;
  height: 500px;
}

.box-1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 250px;
  height: 300px;
  /* background-color: aqua; */
}

.sub-box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #f9ce21;
  width: 100px;
  height: 100px;
}

.img {
  background-image: url("/images/social-media.png");
  background-size: cover;
  height: 80px;
  width: 80px;
}

.sub-box-2 {
  padding-top: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
  /* background-color: aliceblue; */
  width: 230px;
  height: 100px;
  border-radius: 10px;
}

.Branding {
  font-weight: 600;
  font-size: 20px;
}

.box-2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 250px;
  height: 300px;
  /* background-color: aqua; */
}

.sub-box-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #eae9e9;
  width: 100px;
  height: 100px;
}

.img-2 {
  background-image: url("/images/Broucher.png");
  background-size: cover;
  height: 80px;
  width: 80px;
}

.sub-box-4 {
  padding-top: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
  /* background-color: aliceblue; */
  width: 230px;
  height: 100px;
  border-radius: 10px;
}

.Web-Design {
  font-weight: 600;
  font-size: 20px;
}

.box-3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 250px;
  height: 300px;
  /* background-color: aqua; */
}

.sub-box-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #f9ce21;
  width: 100px;
  height: 100px;
}

.img-3 {
  background-image: url("/images/print.png");
  background-size: cover;
  height: 80px;
  width: 80px;
}

.sub-box-6 {
  padding-top: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
  /* background-color: aliceblue; */
  width: 230px;
  height: 100px;
  border-radius: 10px;
}

.Print-Design {
  font-weight: 600;
  font-size: 20px;
}
