* {
  margin: 0px;
}

header {
  border-bottom: 1px solid gray;
  padding: 5px 30px;
  height: 50px;
  background-color: #eee9e9;
  position: sticky;
  top: 0px;
  /* margin: 10px; */
  /* margin-right: 0px;
  margin-left: 0px; */
  font-family: "Arial Narrow Bold", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.search {
  width: 100px;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: calc(20px);
}
a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
}

.Search {
  border: 0.6px solid rgb(163, 162, 162);
  margin-top: -2px;
  width: 80px;
  height: 25px;
  border-radius: 50px;
}

h1 {
  margin-top: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  font-size: 60px;
}
.center-content {
  text-align: center;
  display: flex;
  justify-content: center;
}

h1 span {
  color: rgb(185, 187, 187);
}

button {
  background-color: transparent;
}

.botton-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  border-radius: 50px;
  margin-top: 20px;
}

.LetsTalk {
  border-radius: 50px;
  background-color: #413ef7;
  border: 0px;
  color: white;
  padding: 10px 25px;
}

.OurServices {
  border: 1px solid black;
  border-radius: 50px;
  padding: 10px 25px;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  /* margin-left: 50px;
  margin-right: 50px; */
}

.image-1 {
  border-radius: 10px;
  background-image: url("images/page\ 2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline;
  display: flex;
  width: 30rem;
  height: 30rem;
  margin-top: 50px;
  background-color: red;
}

.image-2 {
  border-radius: 10px;
  background-image: url("images/istockphoto-2149922105-612x612.jpg");
  background-size: cover;
  background-position: center;
  display: inline;
  display: flex;
  width: 70rem;
  height: 30rem;
  margin-top: 50px;
  background-color: red;
}

.explore-tag {
  margin-bottom: -30px;
  display: flex;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 200;
  font-size: 60px;
}

.my-offerings {
  color: rgb(185, 187, 187);
}

.sub-tag {
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container1 {
  margin-bottom: 50px;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  gap: 80px;
}

.container2 {
  margin-bottom: 50px;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  gap: 80px;
}

.sub-contaner1 {
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
  border: 0.5px solid gray;
  padding: 50px;
  justify-content: center;
  display: flex;
  justify-content: space-between;
  width: 20rem;
  height: 20rem;
}

.sub-contaner-circle {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #f0f0ff;
}

.sub-contaner-heading {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  font-size: 30px;
  margin-left: -200px;
  margin-top: 200px;
  height: 10rem;
  width: 20rem;
}

.sub-contaner-para {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  /* margin-left: 50px; */
  margin-right: 50px;
  margin-top: 20px;
  font-size: 20px;
}

.empty-space {
  height: 100vh;
}
